// variable para el color de fondo
$colorFondo : #DEBF50;
// variable para el fondo de cards
$colorCard : #FAA05A;
// variable para el color del boton
$colorVerdeChillon : #7EF57D;
// variable para otro boton
$otroBoton : #694CF5;

//variable tamano medium
$tamanoMedium : 14px;
